.precos {
  padding: 4rem 0 0;
}

.precoWrapper {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.precoWrapper::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 50%;
  transform: translateX(50%);
  height: 300px;
  filter: blur(100px);
  background-color: var(--color-Pink);
  z-index: -1;
  opacity: 0.5;
}

.contentPrecos {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 0;
}
.precosH2 {
  color: var(--color-light-gray);
  text-align: center;
  max-width: 24ch;
  font-size: 38px;
}
.precosH2 span {
  color: var(--color-Pink);
}

.precoBasico,
.precoEssencial,
.precoAvancado {
  color: var(--color-light-gray);
  border-radius: 10px;
  padding: 20px 8px;
  background-color: inherit;
  width: 300px;
  border: 2px solid #2b2b2b;
  background: #00000072;
  backdrop-filter: blur(10px);
}

.precoBasico,
.precoEssencial,
.precoAvancado {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.spanH2 {
  font-size: 40px;
}

.precoBasico h3,
.precoEssencial h3,
.precoAvancado h3 {
  color: var(--color-Pink);
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}

.precoBasico p,
.precoEssencial p,
.precoAvancado p {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  max-width: 22ch;
}

.precoEssencial {
  background-color: white;
}

.precoEssencial,
.essencialBlackP {
  color: black;
}

.precoBasico ul,
.precoEssencial ul,
.precoAvancado ul {
  padding: 0 30px;
}
.precoBasico li,
.precoEssencial li,
.precoAvancado li {
  padding-bottom: 15px;
  font-size: 15px;
}

.divButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .precoWrapper::before {
    width: 30%;
    transform: translateX(100%) translateY(-40%);
    height: 1000px;
  }
  .contentPrecos {
    flex-direction: column;
  }
  .precosH2 {
    font-size: 38px;
  }

  .precoBasico h2,
  .precoEssencial h2,
  .precoAvancado h2 {
    font-size: 30px;
  }

  .precoBasico p,
  .precoEssencial p,
  .precoAvancado p {
    font-size: 20px;
  }

  .precoBasico li,
  .precoEssencial li,
  .precoAvancado li {
    font-size: 15px;
  }
}
