.wrapperGallery {
  max-width: var(--max-widht);
  margin: 0 auto;
}

.galleryContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  color: var(--color-Pink);
}

.galleryContainer a{
text-align: center;
text-decoration: none;
color: var(--color-light-gray);
} 
/* Aplica grayscale a todas as imagens quando qualquer card for hover */
.galleryContainer:hover .card img {
  filter: grayscale(100%) brightness(0.7);
  transform: scale(0.95);
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Remove efeito da imagem com hover */
.galleryContainer .card:hover img {
  filter: none;
  transform: scale(1.05);
  z-index: 1;
}
