:root {
  --color-Pink: rgb(237, 20, 91);
  --color-light-gray: rgb(218, 218, 218);
  --color-dark-gray: rgb(56, 56, 56);
  --max-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(16, 12, 18);
  background: linear-gradient(
    90deg,
    rgba(16, 12, 18, 1) 0%,
    rgba(40, 38, 38, 1) 50%,
    rgba(41, 41, 40, 1) 100%
  );
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Space Grotesk', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
}

button {
  background: transparent; /*para os botão herdarem a cor do background*/
  border: transparent;
}

